.login-container {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  background: #FFF;
}

.login-container .login-face {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #12D4E0;
}

.login-container .login-face img {
  margin-bottom: 100px;
}

.login-container .login-face .location {
  width: 161px;
  text-align: center;
}

.login-container .login-face .location strong {
  display: inherit !important;
  font-weight: 800;
}

.login-container .login-form {
  flex: 0 1 520px;
  justify-content: space-between;
  margin-top: 40px;
  margin-right: 43px;
}

.login-container .login-form .button-container {
  display: flex;
  justify-content: flex-end;
}

.login-container .login-form .back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EBF2F5;
  border: 0;
  border-radius: 16px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.login-container .login-form fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 195px 80px;
  border: 0;
}

.login-container .login-form legend {
  color: #5C8599;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: calc(40px - 16px);
}

.login-container .login-form form {
  width: 100%;
}

.login-container .login-form .input-block {
  display: flex;
  flex-direction: column;
}

.login-container .login-form .input-block label {
  color: #8FA7B3;
  font-size: 16px;
  margin-top: 16px;
}

.login-container .login-form .input-block input {
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  box-sizing: border-box;
  border-radius: 20px;
  height: 64px;
  padding: 24px 21px;
  color: #5C8599;
}

.login-container .login-form .options-block {
  display: flex;
  margin-top: 24px;
  color: #8FA7B3;
  justify-content: space-between;
  font-size: 16px;
}

.login-container .login-form .options-block .remember-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container .login-form .options-block #remember-me {
  background: #F5F8FA;
  border-radius: 8px;
  border: 1px solid #D3E2E5;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
}

.login-container .login-form .options-block #remember-me:checked {
  background: #37C77F;
}

.login-container .login-form .options-block label {
  margin-left: 16px;
}

.login-container .login-form .options-block .forgot-password {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.login-container .login-form .submit {
  height: 64px;
  width: 100%;
  margin-top: 40px;
  background: #37C77F;
  border: 0;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
}

.login-container .login-form .submit:disabled {
  opacity: 0.5;
}